<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #formModalHora="ngForm" (ngSubmit)="onSubmit(formModalHora)">
  <div class="modal-body">
    <div class="form-group"> 
      <label>Dia da Semana:</label>
        <select name="dia" class="form-control" [ngModel]="getAttribute('dia')" style="width: 150px" required>
          <option *ngFor="let dia of dias" [value]="dia.value">{{ dia.key }}</option>
        </select>
    </div>

    <div class="form-group">
      <label>Horário Inicio</label>
      <input name="horarioInicio" class="form-control" 
        type="text" required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"
        placeholder="11:00:00"
        [ngModel]="getAttribute('hora_inicio')"/>
    </div>

    <div class="form-group">            
      <label>Horário Fim</label>
      <input name="horarioFim" class="form-control" 
        type="text" placeholder="23:00:00"
        [ngModel]="getAttribute('hora_fim')" required
        pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"/>
    </div>

    <!--div class="form-group"> 
      <label>Tipo Usuário:</label>
        <select name="tipo" class="form-control" 
          [ngModel]="getAttribute('tipo_user')" style="width: 150px" required>
          <option *ngFor="let type of typeUsers" [value]="type">
            {{ type }}
          </option>
        </select>
    </div-->
  </div>
  
  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!formModalHora.valid">Confirmar</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()" >Cancelar</button>
  </div>
</form>
