<div id="menu">  
  <ul ng-app="home-menu">
    <li><a routerLink="/">Home</a></li>
    <li dropdown>
        <a dropdownToggle>Cadastro <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu" style="top: auto; margin-left: 68px;">
          <a class="dropdown-item" routerLink="/cadastro-adm">Administradores</a>
          <a class="dropdown-item" routerLink="/cadastro-sala">Salas</a>
          <a class="dropdown-item" routerLink="/cadastro-usuario">Usuários</a>
        </ul>
      </li>
  </ul>
  <div class="navbar-nav navbar-right" style="margin-top: -48px; margin-right: 0px;">
    <ul>
      <li ><a (click)="clearToken()" routerLink="/">Sair</a></li>
    </ul>
  </div>
</div>
