.container{
    margin-top: 15px;
    border: 1px solid #ccc;
    margin-left: 75px;
    border-radius: 5px;
}

.horario_sala{
    border-left: 1px solid #ccc;
    margin-left: -1px;
}


.layer_sala{
    border-right: 1px solid #ccc;
}

.button_salas{
    margin-top: 50px;
    float: right;
    margin-bottom: 15px;
    margin-right: 0px;
}

.list_nome_sala > li{
    list-style: none;
    margin-left: -40px;
    border-top: 1px solid #ccc;
}

.control_table{
    overflow-y: auto;
    max-height: 335px;
}

.control_list{
    overflow-y: auto;
    max-height: 250px;
}